<!DOCTYPE html>
<html>
<head>
  <title>Search Analytics</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css", media: "all", integrity: "sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD", crossorigin: "anonymous" %>
  <%= javascript_importmap_tags %>
  <style>
    #trendChart {
      width: 100%;
      height: 400px;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <h1>Search Analytics</h1>

    <!-- Top Searches -->
    <div class="mt-4">
    <h5>Top Searches</h5>
    <ul class="list-group">
        <% @top_searches.each do |query, count| %>
        <li class="list-group-item">
            <%= query %> - <%= count %> searches
        </li>
        <% end %>
    </ul>
    </div>

    <!-- Recent Searches -->
    <div class="mt-4">
    <h5>Recent Searches</h5>
    <ul class="list-group">
        <% @recent_searches.each do |search| %>
        <li class="list-group-item">
            <%= search.query %> - <%= search.created_at.strftime("%b %d, %Y %H:%M") %>
        </li>
        <% end %>
    </ul>
    </div>

    <!-- Top Users -->
    <div class="mt-4">
    <h5>Top Users by IP</h5>
    <ul class="list-group">
        <% @top_users.each do |ip, count| %>
        <li class="list-group-item">
            <%= ip %> - <%= count %> searches
        </li>
        <% end %>
    </ul>
    </div>

    <h2 class="mb-4">Search Trends</h2>
    <div class="mt-4">
    <h5>Search Trends Over Time</h5>
    <ul class="list-group">
        <% @search_trends.each do |date, count| %>
        <li class="list-group-item">
            <%= date.strftime("%b %d, %Y") %> - <%= count %> searches
        </li>
        <% end %>
    </ul>
    </div>

    <canvas id="trendChart" width="400" height="200"></canvas>
    
    <script id="trend-data" type="application/json" data-trend-data="<%= raw @search_trends.to_json %>"></script>

    </div>

    <div class="mt-3">
      <%= link_to 'Return to Search', root_path, class: 'btn btn-secondary', style: 'margin-bottom: 20px;'  %>
    </div>
  </div>
</body>
</html>
